// Input scss
.gssg-inp{
  width: 20rem;
  min-width: 10rem;
  font-size: 1.4rem;
  line-height: 1;
  border: 0;
  outline: 0;
  border-radius: var(--gssg-border-radius);
  padding: 1.2rem;
  margin: 1rem;
  background: transparent;
  color: var(--gssg-color);
  // text-shadow: 1px 1px 2px var(--gssg-color);
  box-shadow: var(--gssg-shadow-inset);
  // box-shadow: inset 2px 2px 5px  var(--gssg-bgcolor), inset -0.2rem -5px 10px var(--gssg-color);
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

input,input:focus,textarea,textarea:focus{
  border: none;
  outline: none;
}
