*{
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.71, 1.14, 0.89, 0.96);
}

li{
  list-style: none;
}

body{

  /* background-color: #c4d7d6; */
  background: url(./src/body-bg.png) 100% 100%;
}


/* 游戏菜单 */
.gameMenu{
  width: 100%;
  /* height: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c4d7d65b;
  z-index: 99;

}

/* 开始游戏 */
.playGame{
  
}

.gameMenu .playGameOptions,
.gameMenu .gameOverOptions{
  width: 40%;
  height: 80%;
  background-color: #158bb8;
  border-radius: 20px;
  margin: auto;
}

.gameMenu  p{
  text-align: center;
  height: 80px;
  font-size: 40px;
  text-shadow:2px 2px 2px #ffffff; 
}

.gameMenu  ul{
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.gameMenu  ul li{
  position: relative;
  height: 50px;
  background-color: #134857;
  box-shadow:0px 0px 10px 2px #158bb8;
  border-radius: 20px;
  margin: 20px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
}

.gameMenu  ul li:hover{
  background-color: #80b7c9;;
  box-shadow:0px 0px 10px 2px #ffffff;
}

/* 游戏结束 */
.gameOver{
  display: none;
}


.content{
  width: 728px;
  height: 728px;
  box-shadow: 4px 4px 10px 2px #134857;
  border-radius: 12px;
  margin: 100px auto;
  background-color: #158bb8d6;
  padding: 40px;
}

.theBoard{
  display: flex;
}

.theBoard li{
  width: 50px;
  height: 50px;
  border: 1px solid rgba(51, 51, 51, 0.705);
  position: relative;
  border-radius: 8px;
}

/*
  棋子
*/
.chessPieces{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -21px;
  left: -21px;
}

.black{
  background-color: #000;
  box-shadow: 3px 3px 4px 1px rgb(2 71 108);
}

.White{
  background-color: #fff;
  box-shadow: 3px 3px 4px 1px rgb(2 71 108);
}


.segmentation{
  float: left;
}