// Buttons scss
.gssgButton{
  button{
    background-color: #363433;
    box-shadow: 0 0 2px 1px #ccc;
    width: 100px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  button:hover{
    background-color: #444241;
    box-shadow: 0 0 2px 1px #ccc;
    cursor:not-allowed;
  }
  button,button:focus{
    outline: none;
    border: none;
    padding: 10px;
    color: #ccc;
  }
}