// Buttons scss
@import '../gssg.scss';

.gssgButton{
  &{
    background: transparent;
    box-shadow: var(--shadow-normal);
    width: 10rem;
    margin: 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
  }
  &:hover{
    box-shadow: var(--shadow-hover);
  }
  &:active{
    box-shadow: var(--shadow-active);
  }
  &,&:focus{
    outline: none;
    border: none;
    padding: 1rem;
    color: var(--color);
  }
}