// todo scss
.blackBg{
  width: 100%;
  overflow: hidden;
  background-color: #363433;
}

.todobg{
  width: 100%;
  display: flex;
  padding: 20px;
  overflow: hidden;
  background-color: #363433;
}

.Card{
  box-shadow: 0 0 6px 1px #aaa;
}