// todo scss
.blackBg{
  width: 100%;
  overflow: hidden;
  min-height: calc(100vh - 5rem);
  background-color: var(--gssg-bgcolor);
}

.todobg{
  width: 100%;
  display: flex;
  padding: 2rem;
  height: 100%;
  overflow: hidden;
  background-color: var(--gssg-bgcolor);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

.leftCard{
  min-width: 20rem;
  margin: 0 auto;
  height: 100%;
}