/*
* 明亮主题
*/

.gssgThemeBright{
  --gssg-shadow-normal: 0.4rem 0.4rem 0.8rem #b8b9be, -0.2rem -0.2rem 0.6rem #fff;
  --gssg-shadow-hover: 0.4rem 0.4rem 1rem #b8b9be, -2px -2px 8px #fff;
  --gssg-shadow-inset: inset 0.6rem 0.6rem 1rem #b8b9be, inset -0.2rem -0.2rem 0.6rem #fff;
  --gssg-border-radius: 0.8rem;
  --gssg-bgcolor-nav: #b8b9be;
  --gssg-bgcolor: #e6e7ee;
  --gssg-color: #666;
  --gssg-bgcolor-selection: #dadadd;
  --gssg-color-selection: #5a5a5a;
  --gssg-bgcolor-hover: #dadadd;
  --gssg-color-hover: #5a5a5a;
}