/*
* gssg.scss
*/
html{
  font-size: 10px;
}

// 文本选中样式
.choose{
  *::selection{
    background-color: var(--gssg-bgcolor-selection);
    color: var(--gssg-color);
  }
}

.gssgTheme{
  --gssg-border-radius:8px;
  --gssg-border-radius-small:4px;
  --gssg-border-radius-big:16px;
}