// 五子棋页面的样式
.popupContent {
    width: 100%;
    height: 30rem;
    max-width: 60rem;
    max-height: 40rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: auto;
    padding: 1rem;
    backdrop-filter: blur(0.2rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .popupTitle {
        font-size: 1.2rem;
        font-weight: 600;
        color: #eee;
        text-align: center;
    }

    .popupInfo {
        width: 100%;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .popupFoot {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.gobang {
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;

    .gobangBoard {
        width: calc(100% - 20rem);
        overflow: hidden;
        padding: 4%;
    }

    .gobangPanel {
        width: 20rem;
        max-width: 20%;
        min-width: 10%;
        height: 100%;
        position: fixed;
        overflow: auto;
        overflow-x: hidden;
        top: 0;
        right: 0;
        margin: auto;
        padding-top: 48px;
        background-color: #93b5cf;
    }
}


// 棋盘样式
.board {
    // width: 100%;
    height: 100%;
    aspect-ratio: 1;
    max-width: 128rem;
    position: relative;
    background-color: #158bb8d6;
    box-shadow: 0.4rem 0.4rem 1rem 0.2rem #134857;
    border-radius: 1.2rem;
    z-index: 0;
    margin: 10% auto;

    // 棋盘线
    .boardBox {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 4%;

        .boardCol {
            display: flex;
            width: 100%;

            &:last-child {
                display: none;
            }

            .boardItem {
                flex: 1;
                aspect-ratio: 1;
                border: 1px solid rgba(51, 51, 51, 0.705);
                border-radius: 0.8rem;

                &:last-child {
                    display: none;
                }
            }
        }
    }
}

// 棋子
.piecesBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(-100% / 15 / 2);
    left: calc(-100% / 15 / 2);
    padding: 4%;
    z-index: 1;
    aspect-ratio: 1;
    width: calc(100% + 100% / 15);

    .piecesCol {
        display: flex;

        .piecesItem {
            flex: 1;
            aspect-ratio: 1; // 长款比例
            overflow: hidden;
            padding: 0.6rem;

            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                }
            }

            // 黑棋子
            .black {
                background-color: #000;
                box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem rgb(2 71 108);
            }

            // 白棋子
            .white {
                background-color: #fff;
                box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem rgb(2 71 108);
            }

        }
    }

}

.panelBox {

    .roundTip {
        margin: 1rem auto;

        .chessTitle {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 600;
        }

        // 棋子模型
        .chessModel {
            width: 40%;
            aspect-ratio: 1; // 长款比例
            margin: auto;
            box-shadow: 0 0 2px 2px #ccc;
            background-color: #eee;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &>span {
                width: 44px;
                aspect-ratio: 1; // 长款比例
                border-radius: 50%;
            }

            // 黑棋子
            .black {
                background-color: #000;
                box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem rgb(2 71 108);
            }

            // 白棋子
            .white {
                background-color: #fff;
                box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem rgb(2 71 108);
            }
        }
    }
}