/*
* 黑暗主题
*/

:root{
  --shadow-normal: 0.4rem 0.4rem 0.8rem #1c1c1c, -0.2rem -0.2rem 0.6rem #aeaeae;
  --shadow-hover: 0.4rem 0.4rem 1rem #0c0c0c, -2px -2px 8px #cecece;
  --shadow-active:inset 0.6rem 0.6rem 1rem #1c1c1c, inset -0.2rem -0.2rem 0.6rem #808080;
  --bgcolor: #363433;
  --color: #ccc;
  --bgcolor-selection: #363433;
  --color-selection:#ccc;
}