// navigation Scss 菜单

.navigation{
  width: 100%;
  height: 50px;
  padding: 0 30%;
  line-height: 50px;
  margin: auto;
  position: sticky;
  z-index: 9999;
  background-color: var(--gssg-bgcolor-nav);
  display: flex;
  justify-content: space-evenly;
  color: var(--gssg-color);

  .ChangeTheme{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    box-shadow: var(--gssg-shadow-active);
    border-radius: var(--gssg-border-radius);
    .current{
      box-shadow:var(--gssg-shadow-hover);
    }
    span{
      text-align: center;
      width: 50%;
      color: var(--gssg-color);
    }
  }

  a{
    text-decoration: none;
    color: var(--gssg-color);
  }
}