// navigation Scss 菜单
a{
  text-decoration: none;
  color:#999;
}

.navigation{
  width: 60%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  position: sticky;
  top: 10;
  display: flex;
  justify-content: space-evenly;
}