// navigation Scss 菜单
a{
  text-decoration: none;
  color:#999;
}

.navigation{
  width: 100%;
  height: 50px;
  padding: 0 30%;
  line-height: 50px;
  margin: auto;
  position: sticky;
  z-index: 9999999;
  background-color: #4a4035;
  display: flex;
  justify-content: space-evenly;
  color:#fff;
}