// navigation Scss 菜单
a{
  text-decoration: none;
  color: var(--color);
}

.navigation{
  width: 100%;
  height: 50px;
  padding: 0 30%;
  line-height: 50px;
  margin: auto;
  position: sticky;
  z-index: 9999;
  background-color: var(--bgcolor-nav);
  display: flex;
  justify-content: space-evenly;
  color: var(--color);

  .ChangeTheme{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    box-shadow: var(--shadow-active);
    border-radius: var(--border-radius);
    .current{
      box-shadow:var(--shadow-hover);
    }
    span{
      text-align: center;
      width: 50%;
      color: var(  --color);
    }
  }

}