// Buttons scss

.buttons{
  width: 94%;
  margin: auto;
  padding: 0 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;

  .search{
    width: 200px;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: var(--gssg-shadow-inset);
    padding: 4px;
    position: relative;

    &:hover{
      box-shadow: var(--gssg-shadow-inset);
    }

    button{
      padding: 4px;
      cursor: pointer;
      position: relative;
    }
    
    button::before{
      content: "";
      width: 1px;
      height: 26px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4px;
      margin: auto;
      background-color: var(--gssg-color);
    }

    button,input,button:focus,input:focus,button:active {
      color: var(--gssg-color);
      outline: none;
      background: none;
      border: none;
    }

    button:active{
      box-shadow: var(--gssg-shadow-inset);
    }
    
    .dropDown{
      position: absolute;
      left: 10px;
      top: 40px;
      z-index: 999;
      min-height: 30px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      ul{
        background-color: var(--gssg-bgcolor);
        box-shadow: var(--gssg-shadow-inset);
        padding: 0.6rem;
        border-radius: 0.8rem;
        overflow: hidden;

        li{
          background: transparent;
          color: var(--gssg-color);
        }

      }

      .defaultDrop{
        text-align: center;
        line-height: 3rem;
        background: transparent;
        color: var(--gssg-color);
      }

    }

  }
}