// Buttons scss
.buttons{
  width: 94%;
  margin: auto;
  padding: 0 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;

  .search{
    width: 200px;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 2px 1px #ccc;
    padding: 4px;
    position: relative;

    &:hover{
      box-shadow: 0 0 6px 1px #ccc;
    }

    button{
      padding: 4px;
      cursor: pointer;
      position: relative;
    }
    
    button::before{
      content: "";
      width: 1px;
      height: 26px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4px;
      margin: auto;
      background-color: #ccc;
    }

    button,input,button:focus,input:focus,button:active {
      color: #ccc;
      outline: none;
      background: none;
      border: none;
    }

    .dropDown{
      position: absolute;
      left: 10px;
      top: 40px;
      z-index: 999;
      min-height: 30px;
      background-color: #ccc;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      ul{
        background-color: #363433;
        box-shadow: 0 0 6px 1px #ccc;
        padding: 6px;
        overflow: hidden;
        li{
          background: transparent;
          color: #ccc;
        }
      }

      .defaultDrop{
        text-align: center;
        line-height: 30px;
        background: transparent;
        color: #ccc;
      }

    }

  }
}