.gssgPrompt{

  .gssgPromptContent{
    position: absolute;
    width: 30rem;
    height: 20rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: var(--shadow-active);
    border-radius: 0.8rem;
    background-color: var(--bgcolor);
    z-index: 999999;

    .gssgPromptButton{
      width: 100%;
      height: 5rem;
      position: absolute;
      bottom: 2rem;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      flex-direction: row;
    }

    .gssgPromptText{
      text-align: center;
      line-height: 13rem;
      color: var(--color);
    }

    button{
      padding: 0;
    }

  }

  .gssgPromptMask{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 177, 177, 0.68);
  }
  
}

.falseshow{
  display: none;
}