// Home scss
.gssg-card{
  margin: auto;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--gssg-shadow-inset);
  border-radius: var(--gssg-border-radius);
}
.card-bg{
  background-color: var(--gssg-bgcolor);
}