// Todo>Item scss
li{
  list-style: none;
  line-height: 3rem;
  min-height: 3rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color);
  padding: 0 4px;
}

li:hover{
  cursor: pointer;
  background-color: #444241;
  border-radius: 4px;

  span{
    color: var(--color);
  }
}