// Todo>Item scss
li{
  list-style: none;
  line-height: 3rem;
  min-height: 3rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--gssg-color);
  padding: 0 4px;
}

li:hover{
  cursor: pointer;
  background-color: var(--gssg-bgcolor-hover);
  color: var(--gssg-color-hover);
  border-radius: var(--gssg-border-radius-small);

  span{
    color: var(--gssg-color);
  }
}